@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Mono Thin'), local('RobotoMono-Thin'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x7DF4xlVMF-BfR8bXMIjAom32WXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iGqxf7o.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/* MIXINS */
* {
  box-sizing: border-box;
  color: black;
}
html,
body {
  height: 100%;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5em;
}
.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;
  box-shadow: 1px 3px 50px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 5%;
  }
}
.container h1 {
  margin-top: 0;
  font-size: 4.209em;
}
.container h2 {
  font-size: 3.157em;
  margin-bottom: 1em;
}
.container h3 {
  font-size: 2.369em;
  margin-bottom: 2rem;
}
.container h4 {
  font-size: 1.777em;
}
.container h5 {
  font-size: 1.333em;
}
.container header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 5em;
}
.container header nav .nav_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container header nav .nav_links a {
  margin-left: 4em;
  color: blue;
}
.container header nav .logo {
  margin: 0;
  margin-right: auto;
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 500px) {
  .container header nav {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container header nav .nav_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container header nav .nav_links a {
    margin: 0;
  }
}
.container .cta {
  border-bottom: 0.9rem dashed rgba(0, 0, 0, 0.1);
  padding: 5rem 0;
}
.container .cta h5 {
  margin: 2rem 0;
}
.container .cta button {
  border: 1px solid #000000;
  padding: 0.5rem 2em;
  background-color: transparent;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.container .cta h2 span {
  animation: appear 1100ms ease infinite;
}
@media screen and (max-width: 500px) {
  .container .cta {
    width: 100%;
  }
  .container .cta h2 {
    line-height: 1.2em;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.container .cta p a {
  color: blue;
}
.container .main {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.9rem dashed rgba(0, 0, 0, 0.1);
}
.container .main .about-me {
  width: 50%;
}
@media screen and (max-width: 500px) {
  .container .main .about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5em;
  }
  .container .main .about-me h3 {
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
.container .main .skills {
  width: 35%;
}
.container .main .skills ul {
  list-style: circle;
  padding-left: 1.2rem;
}
@media screen and (max-width: 500px) {
  .container .main .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .container .main .skills h3 {
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .container .main .skills ul {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .container .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.container .work-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0;
}
.container .work-history .cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container .work-history .cards-container .work-history-card {
  border: 1px solid #000000;
  min-width: 100%;
  min-height: 280px;
  padding: 1em;
  margin-bottom: 2em;
}
.container .work-history .cards-container .work-history-card:last-child {
  margin-bottom: 0;
}
.container .work-history .cards-container .work-history-card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  .container .work-history .cards-container .work-history-card .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container .work-history .cards-container .work-history-card .card-header h5 {
    margin-bottom: 1em;
    font-size: 1em;
  }
}
.container .work-history .cards-container .work-history-card ul {
  list-style: circle;
  padding-left: 1em;
  margin: 1em 0;
}
@media screen and (max-width: 500px) {
  .container .work-history .cards-container .work-history-card h5 {
    font-size: 1em;
  }
  .container .work-history .cards-container .work-history-card ul li {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .container .work-history {
    width: 100%;
  }
}
.container .education {
  padding: 5rem 0;
  border-top: 0.9rem dashed rgba(0, 0, 0, 0.1);
}
.container footer h5 {
  padding: 5rem 0 2rem 0;
  text-align: center;
  border-top: 0.9rem dashed rgba(0, 0, 0, 0.1);
}
